<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link rel="icon" href="images/logo/logo.png" type="image/x-icon">
<title>浏阳德塔软件开发有限公司</title>
<!-- Bootstrap -->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular/angular-cookies.js"></script>
<script src="test/data.js"></script>
<link rel="stylesheet" type="text/css" href="css/data.css" />
</head>
<body class="light-theme">
	<div ng-app="data" ng-controller="data">
		<div id="data-left" class="data-left">
			<textarea id="data-left-textarea" class="data-left-textarea"
				rows="10">亲,请在这输入广告词优化: 当前科技发展日新月异,造就百度,阿里,淘宝,腾迅,京东等优秀上市企业.不仅在科技界,社会各个层面都在享用人类智慧沉淀的结晶.浏阳德塔软件开发有限公司在大数据领域是个新手,探索和继承永远是我们的主题.http://tinos.qicp.vip  http://github.com/yaoguangluo 面对这些挑战,德塔向前辈们学习套路和心法,不断改变自己.同时分享自己的最新研究成果,监督合作,加快商业化步伐,让世界更开心,更健康的享用商品的价值. 	
				Pro, please enter the advertisement optimization here: the current rapid development of science and technology, creating Baidu, Ali, Taobao, Tengxun, Jingdong and other outstanding listed companies. Not only in the scientific and technological circles, all levels of society are enjoying the crystallization of human wisdom precipitation. Liuyang Deta Software Development Co., Ltd. is a novice in the field of big data, exploration and inheritance will always be our theme. http://tinos.qicp.vip http://github In the face of these challenges, Deta learns from his predecessors routines and ways of thinking and constantly changes himself. At the same time, he shares his latest research results, supervises cooperation, speeds up the pace of commercialization, and makes the world happier and healthier to enjoy the value of commodities.
				親，請在這輸入廣告詞優化：當前科技發展日新月异，造就百度，阿裡，淘寶，騰迅，京東等優秀上市企業.不僅在科技界，社會各個層面都在享用人類智慧沉澱的結晶.瀏陽德塔軟體發展有限公司在大數據領域是個新手，探索和繼承永遠是我們的主題.http://tinos.qicp.vip http://github.com/yaoguangluo面對這些挑戰，德塔向前輩們學習套路和心法，不斷改變自己.同時分享自己的最新研究成果，監督合作，加快商業化步伐，讓世界更開心，更健康的享用商品的價值. 
				 친, 이 입력 광고사 최적화: 현재 과학 기술 개발, 새로운 바이두, 알리, 타오, 토보, 경동 등 우수 상장 업체. 과학 기술계 뿐만 아니라 사회 각 층면에서 인류 지혜 침전된 결정을 누리고 있다. 브라양덕탑 소프트웨어 개발 유한 공사는 큰 데이터 영역, 탐색과 계승은 영원한 우리의 주제 htp://tinos.qicp.vip htp://github://githubs.com /yaoguangluo 이런 도전에 직면하고 덕탑은 선후배들에게 코스와 심법을 배워 끊임없이 자신을 변화시킨다. 자신의 최신 연구 성과를 공유하고, 감독과 협력을 가속화하고, 세계를 더욱 기쁘고 건강한 향용 상품의 가치를 더한다.
			             現在の科学技術の発展は日進月歩で、百度を育成します。アリ、淘宝、騰迅、京東などの優秀な上場企業は科学技術界だけではなく、社会の各方面でも人類の知恵沈殿の結晶を楽しんでいます。com/yaogugluoはこれらの挑戦に直面して、徳塔は先代の人達にコースと心法を学んで、絶えず自分を変えて、同時に自分の最新の研究成果を分かち合って、協力を監督して、商業化の歩調を加速して、世界を更に楽しくならせて、更に健康的に商品の価値を享受します。
			    </textarea>
		</div>
		<div id="data-mid" class="data-mid">
			<div type="button" id="data-ws" class="data-ws" href="#" ng-click='dataWS()'>歧混快分</div>
			<div type="button" id="data-cx" class="data-cx" href="#" ng-click='dataCX()'>词性标注</div>
			<div type="button" id="data-xx" class="data-xx" href="#" ng-click='dataXX()'>新词探索</div>
			<div type="button" id="data-cp" class="data-cp" href="#" ng-click='dataCP()'>词频统计</div>
			<div type="button" id="data-ch" class="data-ch" href="#" ng-click='dataCH()'>词汇解释</div>
			
			<div type="button" id="data-cf" class="data-cf" href="#" ng-click='dataCF()'>词汇翻译</div>
			<div type="button" id="data-cc" class="data-cc" href="#" ng-click='dataCC()'>错词纠正</div>
			<div type="button" id="data-by" class="data-by" href="#" ng-click='dataBY()'>贬义过滤</div>
			<div type="button" id="data-zf" class="data-zf" href="#" ng-click='dataZF()'>作文辅导</div>
			<div type="button" id="data-cy" class="data-cy" href="#" ng-click='dataCY()'>词义分析</div>
			
			<div type="button" id="data-xl" class="data-xl" href="#" ng-click='dataXL()'>德塔ANN</div>
			<div type="button" id="data-rn" class="data-rn" href="#" ng-click='dataRN()'>德塔RNN</div>
			<div type="button" id="data-cg" class="data-cg" href="#" ng-click='dataCG()'>德塔DNN</div>
			<div type="button" id="data-cj" class="data-cj" href="#" ng-click='dataCJ()'>词境分析</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>多语意识</div>
			
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>词灵读心</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>教育辅导</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>行政总结</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>投资观测</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>广告优化</div>
			
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>心智疏导</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>理解误差</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>行侦观测</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>商业解答</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>爱慕指数</div>
			
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>全文翻译</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>医疗学习</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>食品推荐</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>娱乐推荐</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>保健推荐</div>
			
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>音乐推荐</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>旅游推荐</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>打扮推荐</div>
			<div type="button" id="data-cl" class="data-cl" href="#" ng-click='dataCL()'>职业推荐</div>
		</div>
		<div id="data-right" class="data-right">
			<textarea id="data-right-textarea" class="data-right-textarea"
				rows="10">亲,运行后,在这里看结果.
			</textarea>
		</div>
	</div>
</body>
</html>